[submodule "libraries/chapter4lib"]
	path = libraries/chapter4lib
	url = https://github.com/Hyperboid/kristal-chapter4-lib.git
[submodule "libraries/CH4EnemyRecreations-Kristal"]
	path = libraries/CH4EnemyRecreations-Kristal
	url = https://github.com/JustAnotherRandomGithubUser/CH4EnemyRecreations-Kristal
[submodule "libraries/EvenMoreParty"]
	path = libraries/EvenMoreParty
	url = https://github.com/Ralszor/EvenMoreParty.git
